@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */
body{
    background-color: hsl(30, 38%, 92%);
    margin: 0px;
    padding: 0px;
}

h1{
    font-family: 'Fraunces', serif;
    font-size: 1.9em;
    line-height: 0.9em;
    margin: 0;
}

h2{
    font-family: 'Fraunces', serif;
    margin: 0;
    font-weight: 700;
    word-spacing: 0.1em;
    color:  hsl(158, 36%, 37%);
}

h3{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-weight: 700;
    word-spacing: 0.1em;
}

h6{
    letter-spacing: 0.3em;
    font-family: 'Montserrat', sans-serif;
    color: gray;
    margin: 0;
}

p{
    margin: 0;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    display: flex;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 13px 19px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 550px;
}

.productImg{
    width : 17em;
}

.infoSection{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.description{
    line-height: 1.5em;
    font-size: 0.8em;
    font-family: 'Montserrat', sans-serif;
    color: gray;
}

.discount{
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: flex-start;
}

.textInvert {
    color: white
}

.textSection {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.newPrice {
    text-decoration:line-through;
    margin: 0;
}

.Btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border-style: none;
    background-color: hsl(158, 36%, 37%);
    color: white;
}

.Btn:hover {
    cursor: pointer;
    background-color: hsl(158, 36%, 26%);
}

.Cart{
    height: 1em;
}

@media (max-width: 585px) {
    .card{
        display:block;
        width: 80%;
    }
    .productImg{
        transform: none;
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}


